<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1 class="title"><%= @title %></h1>
    <% if @sub_title == "一覧" %>
      <button class="btn header_btn" onclick="location.href='/register'">追加</button>
    <% else %>
      <button class="btn header_btn" onclick="location.href='/'">一覧へ戻る</button>
    <% end %>
  </header>
  <main>
    <h2><%= @sub_title %></h2>
    <%= yield %>
  </main>
</body>
</html>
